* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}


body {
    background-color: #ffffff;
    color: white;
    height: 100px;
    margin: 0 0 700px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 171, 152);
    padding: 15px 40px;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    position: relative;
    display: inline-block;
}

.nav-links li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00ff22;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #000000;
}

.nav-links li a:hover::after {
    width: 100%;
}

/* PROFILE */
.container {
    text-align: center;
    margin-top: 80px;
}

.profile-ring {
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(135deg, #5f9cff, #8b5cff);
}

.profile-ring img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
    margin: auto;
}

.box {
    background-color: rgb(10, 171, 152);
    padding: 16px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* TEXT */
h2 {
    margin-top: 25px;
    font-size: 20px;
    color: #ffffff;
}

.college {
    color: #4fffb0;
    margin-top: 8px;
}

.info {
    margin-top: 6px;
    color: #000000;
    font-size: 14px;
}

.box2 {
    background-color: rgb(10, 171, 152);
    padding: 16px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.box2 h2 {
    margin-top: 25px;
    font-size: 20px;
    color: linear-gradient(135deg, #1869eb, #8b5cff);
}

.box2 p {
    color: #ffffff;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    font-weight: bold;
}

.footer {
    background-color: #000000;
    color: #cbd5e1;
    padding: 50px 20px 20px;
    text-align: left;
    margin: 20px auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1100px;
    margin: 4px;
}

.footer-box {
    flex: 1;
    min-width: 200px;
}

.footer-box h2,
.footer-box h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-box ul li a {
    color: #94a3b8;
    text-decoration: none;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #38bdf8;
}

.social li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-bottom {
    border-top: 1px solid #1e293b;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #94a3b8;
}

.name {
    margin-top: 30px;
    background: linear-gradient(to right, #009026, #00fffb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}