body {
    font-family: "poppins", sans-serif;
    /* background: linear-gradient(135deg,#a1c4fd, #c2e9fb); */
    background-color: #c2e9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(10px);
    padding: 35px;
    width: 380px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    outline: none;
    transition: 0.3s;
}

button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    box-shadow: o 8px 20px rgba(58, 123, 213, 0.4);
}

.p {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}

a {
    color: #2575fc;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.login {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
